/* Enter your custom styles here */
.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Set the container height to 100% of the viewport height */
}

.split-container {

    height: 100% !important; 

}
.border-lineRadius{
	border: 1px solid #d1dce7;
    border-radius: 50px;
    box-shadow: 10px 7px 73px -35px rgba(30, 43, 179, 0.3) !important;
}
.sapMBtnInner{
	border-radius: 50px !important;
}